# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Plateformes générées par `flutter create .`
# (le workflow GitHub les régénère, inutile de les versionner)
android/
ios/
linux/
macos/
windows/
web/

# IDE
.idea/
.vscode/
*.iml
