# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Plateformes générées par `flutter create .`
android/
ios/
linux/
macos/
windows/
# web/ : seuls index.html et manifest.json sont versionnés
web/*
!web/index.html
!web/manifest.json

# IDE
.idea/
.vscode/
*.iml
